Youtube_Automation_Final.json
{
  "name": "Youtube Automation Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        -720
      ],
      "id": "38a5f612-ecf4-40be-b5f8-a1c905e72655",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng",
          "mode": "list",
          "cachedResultName": "Youtube Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ DateTime.now().format('yyyy-MM-dd') }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Scheduled"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        -720
      ],
      "id": "85779f75-78aa-4398-a6f0-64f7b5340df6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHAjmXvEu8fRVMdJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional YouTube title generator for music and song videos.\nI will give you a raw video name from Google Sheets.\nYour task is to create a single YouTube video title that:\n\nIncludes the given video name naturally.\n\nStays within YouTube’s maximum title length (100 characters).\n\nAdds extra attention-grabbing and SEO-friendly keywords to make it more clickable and viral.\n\nFeels natural, exciting, and relevant to the given video name.\n\nReturns only the title, nothing else — no extra explanations or text.\n\nVideo name: {{ $json['Video Filename'] }}\n\nNote: Everytime Title should be unique and different from my past titles.\nI am uploading songs in 2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        180,
        -720
      ],
      "id": "d9bdfedf-eea2-466a-a12b-c1dcdf35ebef",
      "name": "AI Agent (Youtube Title generator)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        -500
      ],
      "id": "85f4e645-69d5-4d5d-bc8c-1b66a1188409",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PzVFRxUjc5hbcuei",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10000000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        328,
        -500
      ],
      "id": "aca0d90a-aab0-4480-a698-86f2ad28c53d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng",
          "mode": "list",
          "cachedResultName": "Youtube Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets').item.json.row_number }}",
            "Title": "={{ $('AI Agent (Youtube Title generator)').item.json.output }}",
            "Description": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Filename",
              "displayName": "Video Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        932,
        -720
      ],
      "id": "c7884a70-ecc2-430c-8d24-743c6e9253de",
      "name": "Update Description",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHAjmXvEu8fRVMdJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional YouTube description writer for music and song videos.\nI will give you the video title.\nYour task is to create a single YouTube video description that:\n\nNaturally includes the channel name \"TuneMind\" in the first 2 lines.\n\nExpands on the video title with an engaging, keyword-rich description to help it rank on YouTube search.\n\nAdds as many relevant SEO keywords related to the given title as possible, without sounding spammy.\n\nIncludes viral hashtags at the end to maximize reach.\n\nIs optimized for music and song content, written in an exciting and engaging tone.\n\nReturns only the description text, no extra notes or explanations.\n\nVideo title: {{ $json.output }}\n\n\nNote: Everytime Description should be unique and different from my past descriptions.\nalso i am uploading songs in 2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        556,
        -720
      ],
      "id": "8054a54a-bfb1-418a-98a9-c69b07c10fd1",
      "name": "AI Agent (Description Generator)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng",
          "mode": "list",
          "cachedResultName": "Youtube Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ DateTime.now().format('yyyy-MM-dd') }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Scheduled"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1152,
        -720
      ],
      "id": "a06877c1-0d74-430d-8577-9b14e4186329",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHAjmXvEu8fRVMdJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1592,
        -720
      ],
      "id": "8f489eb8-a6c2-45b3-9a54-9827449b1b3f",
      "name": "Download Video Data1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwePudiztwiDwzdJ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['Video Filename'] }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "151WjEcQeZyFt9xDv4zJAFSOPIBi2xBJZ",
            "mode": "list",
            "cachedResultName": "YT videos to upload",
            "cachedResultUrl": "https://drive.google.com/drive/folders/151WjEcQeZyFt9xDv4zJAFSOPIBi2xBJZ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1372,
        -720
      ],
      "id": "2ad0b28d-aaaa-449e-8f9b-0056d9848e16",
      "name": "Get video File Id1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwePudiztwiDwzdJ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets2').item.json['Title'] }}",
        "regionCode": "PK",
        "categoryId": "10",
        "options": {
          "description": "={{ $('Google Sheets2').item.json['Description'] }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1812,
        -720
      ],
      "id": "5ff3d6fc-2f15-4e94-8512-83510c9132cb",
      "name": "Upload to YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "iBE8xxU3udpLTuqZ",
          "name": "YouTube account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng",
          "mode": "list",
          "cachedResultName": "Youtube Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138JuAA7np2uMMFeFstcE0PNXC57aUCgRMhHN5uStCng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets2').item.json.row_number }}",
            "Status": "Uploaded"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Filename",
              "displayName": "Video Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2032,
        -720
      ],
      "id": "4d551193-758b-46e0-a346-8c8ec6a1fb9b",
      "name": "Update Status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHAjmXvEu8fRVMdJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Videos - Posted",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2252,
        -720
      ],
      "id": "d417dc71-5363-437b-8fe9-2ecc20cb56b7",
      "name": "Get Folder Name1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwePudiztwiDwzdJ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get video File Id1').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2472,
        -720
      ],
      "id": "81e1bc6a-ff47-4cfe-9809-e19b3cd44aaa",
      "name": "Move Video File to other Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwePudiztwiDwzdJ",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent (Youtube Title generator)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Youtube Title generator)",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent (Description Generator)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Youtube Title generator)": {
      "main": [
        [
          {
            "node": "AI Agent (Description Generator)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Youtube Title generator)",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent (Description Generator)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Update Description": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Description Generator)": {
      "main": [
        [
          {
            "node": "Update Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Get video File Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video Data1": {
      "main": [
        [
          {
            "node": "Upload to YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video File Id1": {
      "main": [
        [
          {
            "node": "Download Video Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube1": {
      "main": [
        [
          {
            "node": "Update Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status1": {
      "main": [
        [
          {
            "node": "Get Folder Name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Name1": {
      "main": [
        [
          {
            "node": "Move Video File to other Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "153d24b9-63dc-42ad-ac0c-eb75825ddf4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75040da319a1d3923eace9d059223c16a7d4b436818326c56f38d04a91200f2a"
  },
  "id": "7PLFZ08qO4yzmDJ7",
  "tags": []
}